.Modal{
    position: fixed;
    z-index: 500;
    background-color: #fff;
    width: 70%;
    border: 1px solid #1c1c1c;
    padding: 16px;
    top: 30%;
    left: 15%;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

@media (min-width:600px){
    .Modal {
        width: 499px;
        left: calc(50% - 250px);
    }
}